@import "src/styles/sass.scss";

.offset {
  @include up-laptop {
    height: spacing(50);
  }
}

.wrapper {
  padding-bottom: 40px;

  @media only screen and (min-width: 1024px) {
    min-height: 100vh;
    padding-top: 180px;
  }
}
