@import "src/styles/sass.scss";

.wrapper {
  padding: spacing(5) spacing(3);

  & > :global(.h3) {
    font-size: spacing(3);
    font-weight: 700;
    text-align: center;

    @include up-laptop {
      font-size: spacing(5);
    }

    & > :global(.h3) {
      display: inline;
      font-size: spacing(3);
      font-weight: 700;
      text-align: center;

      @include up-laptop {
        font-size: spacing(5);
      }
    }
  }

  @include up-laptop {
    max-width: 1200px;

    & > :global(.h3) {
      margin: auto;
    }
  }
}

.wrapperTop {
  display: flex;
  justify-content: center;
}

.tr0 {
  color: $color-forbole-indigo6;
}

.tr1 {
  background: linear-gradient(286.17deg, #d431ee 0%, #ff426b 100%);
  // stylelint-disable-next-line
  background-clip: text;
  // stylelint-disable-next-line
  -webkit-background-clip: text;
  // stylelint-disable-next-line
  -webkit-text-fill-color: transparent;
  // stylelint-disable-next-line
  text-fill-color: transparent;
}
