@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&display=swap");
nav {
  padding: 10px;

  a {
    text-decoration: none;
  }
}

body {
  font-family: "Hind Madurai", sans-serif;
  padding: 20px 20px 60px;
  margin: 0 auto;
}
