.notificationTitle {
  color: var(--color-text-primary);
}

.notificationSubtitle {
  color: var(--color-text-caption);
}

.notificationBox {
  display: flex;
  flex-direction: row;
}

.notificationContent {
  flex: 1;
}

.notificationIcon {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-right: 10px;
}

.error {
  background-color: var(--color-notification-background-error);
  border: 2px solid var(--color-notification-border-error);
}

.success {
  background-color: var(--color-notification-background-success);
  border: 2px solid var(--color-notification-border-success);
}

.error,
.success {
  border-radius: 8px;
}
