{
  "importOrder": [
    "^~(.*)$",
    "@(src|utils|components|screens|models|api)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "quoteProps": "consistent"
}
