@import "src/styles/sass.scss";

.cta {
  bottom: 24px;
  left: 24px;
  position: absolute;
  right: 24px;

  @include down-laptop {
    display: none;
  }

  button {
    width: 100%;
  }
}

.active {
  background-image: linear-gradient(
    315deg,
    rgba(212, 49, 238, 0.24) 0%,
    rgba(255, 66, 107, 0.24) 100%
  );
  border: 3px solid rgb(253, 63, 97);
  flex: 0 1 346px;
  height: 536px;
}

.money {
  font-size: 64px;
}

.popular {
  align-items: center;
  background: linear-gradient(315deg, #ee3131 0%, #ff426b 100%);
  border-radius: 32px;
  box-sizing: border-box;
  color: #fff;
  gap: 8px;
  height: 32px;
  padding: 0 11px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -18px;
  width: 126px;
}

.popular > span {
  font-size: 18px;
  font-style: normal;
  font-weight: 590;
  line-height: normal;
}

.none {
  display: none;
}

@media (max-width: 1024.95px) {
  .active {
    flex-basis: max-content;
    width: 100%;
  }

  .money {
    font-size: 48px;
  }

  .active .money span {
    font-size: 48px;
  }
}

.plan {
  background-color: #fff;
  border-radius: 24px;
  box-shadow:
    0 10px 32px -4px rgba(245, 20, 47, 0.16),
    0 6px 14px -6px rgba(249, 106, 122, 0.2);
  flex: 1 1 270px;
  height: 496px;
  padding: 24px;
  position: relative;

  @include down-laptop {
    flex: 0 0 max-content;
    width: 75%;
  }
}

.text {
  align-items: baseline;
  color: $color-forbole-blue-1;
  display: flex;
  font-size: 12px;
  font-weight: 590;
  margin-top: 20px;
  white-space: nowrap;
}

.feature {
  display: flex;
  margin-top: 20px;
}

.planImg {
  display: flex;
  margin-top: 20px;

  @include down-laptop {
    margin-top: 16px;
  }
}
