@import "src/styles/sass.scss";

.stakingCta {
  display: block;
  margin: 54px auto;

  @include down-laptop {
    margin: 32px auto;
  }
}

.topStack {
  gap: 40px;

  @include down-laptop {
    gap: 32px;
  }
}
