.wrapper {
  position: relative;
}

.next {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.prev {
  left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
