@import "src/styles/sass.scss";

.image {
  border-radius: 24px;
  box-shadow:
    0 10px 32px -4px rgba(96, 60, 238, 0.1),
    0 6px 14px -6px rgba(96, 60, 238, 0.28);
  display: flex;
  overflow: hidden;

  @include down-laptop {
    border-radius: 16px;
  }
}
