@import "src/styles/sass.scss";

body .wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: spacing(3.5);

  img {
    height: 40px;
    margin: 0;
    width: 40px;
  }
}

.img {
  border-radius: 50%;
  height: 40px;
  margin: 0;
  object-fit: cover;
  width: 40px;
}

.name {
  color: $color-primary-light;
  font-size: spacing(1.75);
  font-weight: 600;
}

.time {
  color: $color-primary-light;
  font-size: spacing(1.75);
  font-weight: 400;
  opacity: 0.5;
}

.contentLink {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  margin-left: spacing(2);
  text-decoration: none !important;

  span {
    line-height: 18px;
    text-decoration: none;
  }
}
