@import "src/styles/sass.scss";

.root {
  align-items: center;
  background: $color-primary-light;
  border-radius: spacing(3);
  box-shadow: $box-shadow-variant-1;
  display: flex;
  flex-direction: column;
  padding: spacing(4) spacing(3);
  width: 240px;

  h3 {
    @include gradient-text($gradient-unnamed-1);

    font-size: spacing(3);
    font-weight: 700;
    letter-spacing: 0.0015em;
    line-height: 29px;
    padding-top: spacing(2);
    text-align: center;
  }

  &.red {
    h3 {
      background-image: $gradient-unnamed-2;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
}
