@import "src/styles/sass.scss";

.contact {
  color: $color-forbole-blue-1;
  font-size: spacing(2);
  font-weight: 400;
  padding: spacing(3) 0 spacing(3) 0;
  text-align: center;
  text-shadow:
    0 1px 8px rgba(16, 24, 40, 0.06),
    0 1px 10px rgba(16, 24, 40, 0.05);

  @include up-laptop {
    font-size: spacing(3);
    font-weight: 400;
    padding-bottom: spacing(5);
  }
}

.tr0 {
  color: $color-indigo-1;
}

.tr1 {
  @include gradient-text($gradient-unnamed-1);
}

.wrapper {
  display: flex;
  justify-content: center;
}
