@import "src/styles/sass.scss";

.stakingContent {
  padding: spacing(5) spacing(3);

  > :global(.h3) {
    font-size: spacing(3);
    font-weight: 700;
    text-align: center;

    @include up-laptop {
      font-size: spacing(5);
    }

    > :global(.h3) {
      display: inline;
      font-size: spacing(3);
      font-weight: 700;
      text-align: center;

      @include up-laptop {
        font-size: spacing(5);
      }
    }
  }

  @include up-laptop {
    max-width: 1200px;

    > :global(.h3) {
      margin: auto;
      padding-bottom: 5px;
      width: 65%;
    }
  }
}

.stakingTitle {
  color: $color-forbole-blue-1;
  font-size: spacing(2);
  font-weight: 600;
  padding-bottom: spacing(3);
  text-align: center;
  text-shadow:
    0 1px 8px rgba(16, 24, 40, 0.06),
    0 1px 10px rgba(16, 24, 40, 0.05);

  @include up-laptop {
    font-size: spacing(3);
    font-weight: 700;
  }
}
