@import "src/styles/sass.scss";

.title {
  font-size: 32px;
  font-weight: 590;
  margin-bottom: 8px;

  @include down-laptop {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.desc {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 40px;
}

.start,
.telegram,
.email,
.company,
.name {
  font-size: 16px;
  font-weight: 590;
}

.start {
  margin-bottom: 18px;
}

body .wrapper {
  background: $gradient-unnamed-3;
  border-radius: 24px;
  box-shadow: $box-shadow-variant-1;
  color: $color-forbole-blue-1;
  gap: 40px;
  margin: 164px auto;
  padding: 64px;
  width: 1000px;

  &.staking {
    margin-top: 24px;
  }

  @include down-laptop {
    gap: 24px;
    margin-top: 104px;
    padding: 24px;
    width: 343px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  color: $color-grey-2;
  font-size: 16px;
  line-height: 30px;
  padding: 12px;
}

.list {
  border-radius: 8px;
  box-shadow:
    0 10px 32px -4px rgba(96, 60, 238, 0.1),
    0 6px 14px -6px rgba(96, 60, 238, 0.28);
  overflow: hidden;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.item {
  background: #fff;
  border-bottom: 2px solid rgba(96, 60, 238, 0.28);
}

.control {
  font-size: 16px;
  justify-content: space-between;
  line-height: 30px;
  margin: 0;
  padding: 12px 0;
  width: 100%;
}

.inputItem {
  &:last-child {
    border-bottom: 0;
  }

  background: #fff;
  border-bottom: 2px solid rgba(96, 60, 238, 0.28);
  width: auto;
}

.agree {
  align-items: flex-start;
  line-height: 30px;
  margin-right: 0;
  vertical-align: top;
}
