.navItem {
  position: relative;
  padding: 10px 16px;
  cursor: pointer;
}

.navItem:hover > .boxItem {
  display: block;
}

.boxItem {
  padding: 13px 0;
  background-color: transparent;
  top: 100%;
  position: absolute;
  z-index: 99999;
  display: none;
}

.boxItem > .boxItemList {
  padding: 16px 0;
  border-radius: 24px;
  background: rgba(255, 255, 255);
  box-shadow:
    0px 10px 32px -4px rgba(2, 38, 225, 0.1),
    0px 6px 14px -6px rgba(2, 38, 225, 0.12);
  overflow: hidden;
  /* backdrop-filter: blur(12px); */
}

.boxItemStaek {
  white-space: nowrap;
  padding: 13px 0;
  background-color: transparent;
  top: 100%;
  right: 10%;
  position: absolute;
  z-index: 99999;
  display: none;
}

.navItem:hover > .boxItemStaek {
  display: block;
}

/* .boxItemStaek>.boxItemList {
  padding: 13px 0;
} */
