@import "src/styles/sass.scss";

.button {
  background: transparent;
  border: none;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
