$color-forbole-blue: #202a43;
$color-forbole-indigo6: #2a1a6a;
$color-forbole-purple: #6061e4;
$color-grey2: #c2c2c2;
$color-indigo: #362187;
$color-primary-light: #fff;
$color-secondary-light: #4d2fc2;
$color-text-primary: #000;
