$color-primary-light: #fff;
$color-text-primary: #000;

// Primary Color

$color-forbole-blue-1: #202a43;
$color-forbole-blue-4: #c3cce2;
$color-forbole-blue-5: #ebeef5;

// Secondary Color

$color-indigo-1: #2a1a6a;
$color-indigo-2: #362187;
$color-indigo-3: #4d2fc2;
$color-indigo-5: #6061e4;
$color-pink-1: #ff426b;

// Neutral Color

$color-dark-grey: #34383e;
$color-grey-2: #878787;
$color-icon-grey: #afafaf;
$color-light-grey-2: #c2c2c2;
$color-white: #fff;

// Gradients

$gradient-unnamed-1: linear-gradient(286.17deg, #d431ee 0%, $color-pink-1 100%);
$gradient-unnamed-2: linear-gradient(315deg, #ee3131 0%, $color-pink-1 100%);

// Shadows

$box-shadow-variant-1:
  0 6px 14px -6px rgba(2, 38, 225, 0.12),
  0 10px 32px -4px rgba(2, 38, 225, 0.1);
