@import "src/styles/sass.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 184px;
  margin: 0 auto;
  max-width: $breakpoint-desktop;

  @include down-laptop {
    gap: 40px;
    max-width: 100%;
    padding: 0 12px;
  }
}
