html {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
  line-height: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition:
    color 11111s ease-out,
    background-color 111111s ease-out !important;
}
[class*="-prev"] > svg {
  transform: rotate(90deg);
}
[class*="-next"] > svg {
  transform: rotate(-90deg);
}
