html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: normal;
  overflow-x: hidden;

  /* React Tooltip */
  --rt-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    color 11111s ease-out,
    background-color 111111s ease-out !important;
}

[class*="-prev"] > svg {
  transform: rotate(90deg);
}

[class*="-next"] > svg {
  transform: rotate(-90deg);
}
