$color-forbole-indigo6: #2a1a6a;
$color-forbole-purple: #6061e4;
$color-grey2: #c2c2c2;
$color-indigo: #362187;
$color-primary-light: #fff;
$color-secondary-light: #4d2fc2;
$color-text-primary: #000;

$box-shadow-variant-1:
  0 6px 14px -6px rgba(2, 38, 225, 0.12),
  0 10px 32px -4px rgba(2, 38, 225, 0.1);

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1025px;
$breakpoint-desktop: 1208px;

@mixin down-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin up-mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin down-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin up-tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin down-laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin up-laptop {
  @media (min-width: $breakpoint-laptop) {
    @content;
  }
}

@function spacing($num) {
  @return $num * 8px;
}
