@import "src/styles/sass.scss";

.desktop {
  display: none;

  @include up-laptop {
    display: block;
  }
}

.lang {
  color: $color-primary-light;
}

.mobile {
  display: block;

  @include up-laptop {
    display: none;
  }
}

.navBarButton {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  gap: 8px;
  justify-content: center;
  padding: 8px 12px;

  &:hover {
    background-color: rgba(107, 97, 254, 0.24);
  }
}

.paper {
  background: $color-primary-light;
  background-image: none;
  border-radius: spacing(3);
  box-shadow: $box-shadow-variant-1;
  right: 75% !important;
  top: spacing(9) !important;
  width: spacing(27.5);
}
