@import "src/styles/sass.scss";

.imageWrap {
  flex: 0 0 250px;
  position: relative;

  @include down-tablet {
    flex: 0 0 220px;

    &.noResponse {
      flex: 0 0 250px;
    }
  }
}

.imgMobile {
  display: none;

  @include down-tablet {
    display: block;
  }
}

.imgDesktop {
  display: block;

  @include down-tablet {
    display: none;
  }
}

.desc {
  color: $color-indigo-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.title {
  color: $color-forbole-blue-1;
  font-weight: 590;
  padding: 0 0 10px 0;

  @include down-tablet {
    font-size: 18px;
    width: max-content;
  }

  @include up-tablet {
    font-size: 20px;
  }
}
