@import "src/styles/sass.scss";

.list {
  background: $color-white;
  min-width: 100%;
  width: max-content;

  @include down-laptop {
    background: rgba(107, 97, 254, 0.24);
  }
}

.menuItem {
  align-items: center;
  background: $color-white;
  border: none;
  color: $color-indigo-2;
  cursor: pointer;
  display: flex;
  filter: opacity(0.1);
  font-size: spacing(2);
  font-weight: 700;
  height: spacing(7);
  justify-content: flex-start;
  padding: spacing(0) spacing(4);
  width: 100%;

  &.noFilter {
    filter: unset;
  }

  &:hover {
    background: linear-gradient(to right, #623df5, $color-indigo-2);
    color: $color-white;
  }

  @include up-laptop {
    min-width: 200px;
  }
}

.link {
  min-width: 100%;
  text-decoration: none;
  width: 100%;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: spacing(1);
}
