@import "src/styles/sass.scss";

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container {
  background-color: $color-primary-light;
  color: #000;

  button {
    &,
    &:hover {
      background-color: $color-forbole-indigo6;
    }
  }
}
