@import "src/styles/sass.scss";

.wrapper {
  background-color: #fff;
  border-radius: 24px;
  left: 50%;
  padding: 32px 32px 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  @include down-tablet {
    padding: 12px 12px 20px;
    width: 90%;
  }
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;

  span {
    @include gradient-text($gradient-unnamed-1);

    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.036em;
    line-height: 24px;
    text-align: left;
  }

  svg {
    height: 15px;
    transform: translateY(4px);
  }

  button {
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 0;
  }
}

.modal {
  min-height: 100vh;
  overflow: auto;
}

.error {
  // @TODO: Move to a component
  color: red;
}
