@import "src/styles/sass.scss";

.logo {
  border-radius: 200px;
  box-shadow: $box-shadow-variant-3;
  height: 40px;
  overflow: hidden;
  width: 40px;
}

.row {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  min-height: 70px;
  padding: 0 16px;
  width: 100%;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;

  div:nth-child(1) {
    color: #25282d;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.72px;
    line-height: normal;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include down-tablet {
      max-width: 200px;
    }
  }

  div:nth-child(2) {
    color: #616161;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.308px;
    line-height: 20px;
  }
}

.rewards {
  color: #1ec490;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.108px;
  line-height: 21px;
  padding-right: 42px;
  text-align: right;
}

.singleItem {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.addressWrap {
  align-items: flex-start;
  display: inline-flex;
}

.address {
  background: none;
  border: none;
  color: #9d9d9d;
  cursor: default;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.308px;
  line-height: 20px;
  text-align: left;

  &.clickable {
    cursor: pointer;
  }
}
