.row {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  gap: 20px;
  justify-content: flex-start;
  letter-spacing: 0.006em;
  line-height: 21px;
  min-height: 70px;
  padding: 0 80px 0 16px;
  width: 100%;
}

:global(.MuiMenuItem-root) .row {
  &:hover {
    background: linear-gradient(
      286.17deg,
      rgba(212, 49, 238, 0.24) 0%,
      rgba(255, 66, 107, 0.24) 100%
    );
  }
}

.icon {
  height: 24px;
  width: 24px;
}

.address {
  flex: 1;
}
