@import "src/styles/sass.scss";

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  @include up-laptop {
    min-width: 500px;
  }
}

.spinner {
  margin-top: 24px;
}

.input {
  width: 100%;
}
