@import "src/styles/sass.scss";

$image-box-shadow:
  0 8px 22px -6px rgba(2, 38, 225, 0.12),
  0 14px 64px -4px rgba(2, 38, 225, 0.12);

.anchor {
  align-items: center;
  border-radius: spacing(1.5);
  color: $color-forbole-indigo6;
  display: flex;
  flex-direction: column;
  font-size: spacing(2);
  gap: spacing(0.5);
  justify-content: center;
  padding: 20% 0;
  position: relative;
  width: 100%;

  @include up-tablet {
    display: flex;

    .exploreButton {
      display: none;
    }
  }

  @include down-laptop {
    gap: spacing(3);
    position: static;

    &:hover {
      background-color: $color-primary-light;
    }
  }
}

.exploreButton {
  background-color: #f6504b;
  background-image: linear-gradient(286.17deg, #d431ee 0%, #ff426b 100%);
  border-radius: 200px;
  color: #fff;
  font-size: 1rem;
  height: 45px;
  padding: 0.75rem 1rem;
  width: 111px;

  &:hover {
    filter: brightness(1.2);
  }
}

.image {
  align-items: center;
  border: 2px solid rgba(2, 38, 225, 0.16);
  border-radius: 100%;
  box-shadow: $image-box-shadow;
  display: flex;
  justify-content: center;
  margin: 0;
  max-height: spacing(6);
  max-width: spacing(6);
  min-height: spacing(6);
  min-width: spacing(6);
  padding: 0;
}

.networkName {
  color: $color-forbole-indigo6;
  font-size: spacing(2);
  font-weight: 600;
  overflow: hidden;
  text-overflow: clip;
  width: 100%;

  @include down-mobile {
    font-size: 1.25rem;
  }
}

.popoverContainer {
  align-self: flex-start;
  display: block;

  .popover {
    left: spacing(3);
    right: spacing(3);
  }

  .label {
    color: $color-forbole-indigo6;
    font-size: spacing(2);
  }

  &.active {
    .popover {
      display: flex !important;
    }
  }

  @include up-tablet {
    display: none;
  }
}

.root {
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: spacing(3);
  box-shadow: $box-shadow-variant-1;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: spacing(10);
  min-width: spacing(15);
  text-align: center;
}
