@import "src/styles/sass.scss";

.tr0 {
  color: $color-forbole-blue;
  font-size: spacing(2);

  @include up-laptop {
    font-size: spacing(2);
  }
}

.tr1 {
  color: $color-primary-light;
  display: inline;
  font-size: spacing(1.5);
  font-weight: 900;

  @include up-laptop {
    font-size: spacing(2);
  }
}
