@import "src/styles/sass.scss";

$text-shadow:
  0 1px 8px rgba(16, 24, 40, 0.06),
  0 1px 10px rgba(16, 24, 40, 0.05);

.faqText {
  color: $color-forbole-blue;
  font-size: spacing(3);
  font-weight: 700;
  padding-bottom: spacing(5);
  text-align: center;
  text-shadow: $text-shadow;

  @include up-laptop {
    font-size: spacing(5);
  }
}

.faqItem {
  flex-basis: 100%;

  @include up-laptop {
    flex-basis: 50%;
  }
}

.container {
  flex-basis: 100%;

  @include up-laptop {
    flex-basis: 50%;
  }
}

.content {
  @include up-laptop {
    padding-bottom: spacing(25);
  }
}

.wrapper {
  @include up-laptop {
    max-width: 1200px;
  }
}

.wrapperTop {
  display: flex;
  justify-content: center;
}

.contentInner {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}
