
.inpboxitem {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 376px;
  padding-left: 30px;
  border-radius: 45px;
  color: #fff;
  background-color: #34383e;
}
.input {
  flex: 1;
  height: 100%;
  background-color: inherit;
  font-size: 15px;
  padding-right: 15px;
  color: #fff;
  border: none;
  outline: none;
  vertical-align: middle;
}
