@import "src/styles/sass.scss";

$card-shadow:
  0 8px 22px -6px rgba(2, 38, 225, 0.12),
  0 14px 64px -4px rgba(2, 38, 225, 0.12);

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: spacing(15) spacing(3);

  @include up-laptop {
    padding: spacing(0) spacing(3);
  }
}

.container {
  @include up-laptop {
    max-width: 1200px;
  }
}

.cardContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: spacing(-5);
  padding-top: 0;

  @include up-laptop {
    justify-content: space-between;
    margin-top: spacing(-7);
  }
}

.cardContentBox {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.address {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: spacing(1);
  margin-top: spacing(-1);
}

.coverImage {
  object-fit: cover;
  object-position: 0% 37%;
}

.networkName {
  background: rgba(255, 255, 255, 0.7);
  border-radius: spacing(1);
  font-size: spacing(2);
  font-weight: 600;
  padding: spacing(1);
  padding-bottom: spacing(1);
}

.contentBox {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include up-laptop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card {
  background: $color-primary-light;
  border-radius: spacing(2);
  box-shadow: $card-shadow;
}

.logoBox {
  & > span {
    border: 8px solid #fff !important;
    border-radius: 50%;
  }
}

.post {
  padding: spacing(0) spacing(2);
  text-align: center;
}

.excerpt {
  color: $color-forbole-blue;
  display: contents;
  -webkit-line-clamp: inherit;
  text-align: center;

  &.readMore {
    -webkit-line-clamp: unset;
  }
}

.readMoreButton {
  color: #007fff;
  display: inline-block;
  padding: 0;

  &.readMore {
    display: none;
  }
}

.infoBox {
  display: grid;
  grid-gap: spacing(2);
  grid-template-columns: repeat(1, 1fr);
  padding: 12px 8px;
  padding-top: spacing(3);
  width: 100%;

  @include up-laptop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0;
    width: 50%;
  }
}

.snackbar {
  justify-content: center;
}

.logo {
  height: 52px;
  width: 52px;

  @include up-laptop {
    height: 90px;
    width: 90px;
  }
}

.containerName {
  padding-left: spacing(2);

  @include down-laptop {
    padding-left: spacing(1);
  }
}

.addressWrapper {
  color: #ba6600;
  font-size: 14px;
  font-weight: 700;
}
