@import "src/styles/sass.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: spacing(15) spacing(3);

  @include up-laptop {
    padding: spacing(0) spacing(3);
  }
}

.container {
  @include up-laptop {
    max-width: 1200px;
  }
}

.cardContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: spacing(-5);
  padding-top: 0;

  @include up-laptop {
    justify-content: space-between;
    margin-top: spacing(-7);
  }
}

.cardContentBox {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.address {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: spacing(1);
  margin-top: spacing(-1);
}

.coverImage {
  object-fit: cover;
  object-position: 0% 37%;
}

.networkName {
  background: rgba(255, 255, 255, 0.7);
  border-radius: spacing(1);
  font-size: spacing(2);
  font-weight: 600;
  padding: spacing(1);
  padding-bottom: spacing(1);
}

.contentBox {
  align-items: center;
  display: flex;
  flex-direction: column;

  @include up-laptop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card {
  background: $color-white;
  border-radius: spacing(2);
  box-shadow: $box-shadow-variant-3;
}

.logoBox {
  > span {
    border: 8px solid $color-white !important;
    border-radius: 50%;
  }

  @include down-tablet {
    display: none;
  }
}

.post {
  padding: spacing(0) spacing(2);
  text-align: center;
}

.excerpt {
  color: $color-forbole-blue-1;
  display: contents;
  -webkit-line-clamp: inherit;
  text-align: center;

  &.readMore {
    -webkit-line-clamp: unset;
  }
}

.readMoreButton {
  background: transparent;
  border: none;
  color: $color-blue-1;
  display: inline-block;
  padding: 0;

  &.readMore {
    display: none;
  }
}

.infoBox {
  display: grid;
  grid-gap: spacing(2);
  grid-template-columns: repeat(1, 1fr);
  padding: 12px 8px;
  padding-top: spacing(3);
  width: 100%;

  @include up-laptop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-top: 0;
    width: 50%;
  }
}

.snackbar {
  justify-content: center;
}

.logo {
  height: 52px;
  width: 52px;

  @include up-laptop {
    height: 90px;
    width: 90px;
  }
}

.containerName {
  padding-left: spacing(2);

  @include down-laptop {
    margin-right: spacing(2);
    margin-top: spacing(2);
    padding-left: spacing(1);
  }
}

.addressWrapper {
  color: #ba6600;
  font-size: 14px;
  font-weight: 700;
}

.contentCss {
  :global {
    -webkit-box-orient: vertical;
    color: $color-forbole-blue-1;
    display: -webkit-box;
    font-size: 14px;
    -webkit-line-clamp: 8;
    margin: auto;
    overflow: hidden;
    padding: 0 16px;
    text-overflow: ellipsis;
    width: 100%;
    word-break: break-word;

    a {
      transition: 0.3s;

      &:hover {
        color: rgba(0, 0, 0, 0.87);
      }
    }

    li {
      display: none;
    }

    p {
      text-align: center;
    }

    @media only screen and (min-width: 1024px) {
      flex: 1;
      font-size: 16px;
      -webkit-line-clamp: 5;
      line-height: 22px;
      margin: inherit;

      p {
        text-align: left;
      }
    }
  }
}
