@import "src/styles/sass.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 184px;
  max-width: $breakpoint-desktop;

  @include down-laptop {
    gap: 40px;
  }
}

.ctaButton {
  display: block;
  margin: 40px auto;

  @include down-laptop {
    margin: 32px auto;
  }
}

.swiper {
  margin-top: 40px;
}
