@import "src/styles/sass.scss";

.wrapper {
  height: 1200px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;

  @media (max-width: 550px) {
    display: none;
  }
}

.horseWrapperDesktop {
  top: 0;
  right: 0;
  left: 0;
  height: 50vw;
  position: absolute;

  @media (max-width: 550px) {
    img {
      display: none;
    }
  }
}

.horseWrapperMobile {
  height: 120vw;
  left: 0;
  margin-top: 100px;
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: 550px) {
    img {
      display: none;
    }
  }
}
