@import "src/styles/sass.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tr0 {
  color: $color-indigo-1;
}

.tr1 {
  background: $gradient-unnamed-1;
  background-clip: text;
  // stylelint-disable-next-line
  text-fill-color: transparent;
  // stylelint-disable-next-line
  -webkit-background-clip: text;
  // stylelint-disable-next-line
  -webkit-text-fill-color: transparent;
}

.stakingTitle {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
