@import "src/styles/sass.scss";

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tr0 {
  color: $color-indigo-1;
}

.tr1 {
  @include gradient-text($gradient-unnamed-1);
}

.stakingTitle {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
