.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;

  svg {
    animation: rotation 0.5s infinite linear;
    height: 20px;
    width: 20px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
