@import "src/styles/sass.scss";

.wrapper {
  background: $color-primary-light;
  border-radius: spacing(3);
  box-shadow: $box-shadow-variant-1;
  margin: auto;
  max-width: 100%;

  @include up-laptop {
    max-width: 70%;
  }
}

.cardContent {
  padding: spacing(3);

  @include up-laptop {
    display: grid;
    grid-gap: spacing(5);
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: spacing(5);
  }
}
