@import "src/styles/sass.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 184px;
  max-width: $breakpoint-desktop;

  @include down-laptop {
    gap: 40px;
  }
}

.section {
  align-items: center;
  gap: 40px;

  @include down-laptop {
    gap: 32px;
  }
}

.productPanel {
  gap: 24px;
  max-width: 490px;
}

.productPanelText {
  align-items: baseline;
  display: flex;
  max-width: 489px;

  @include down-laptop {
    font-size: 16px;
  }

  @include up-laptop {
    font-size: 20px;
  }

  &::before {
    content: url("/icons/outlined.svg");
    margin-right: 16px;
  }
}
