@import "src/styles/sass.scss";

.author {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: spacing(2);
}

.featureImageCaption {
  @include up-laptop {
    color: $color-primary-light;
    font-size: spacing(2);
    padding: spacing(4) 0 spacing(8) 0;
    width: 80%;

    a {
      color: $color-primary-light;
    }
  }

  @include down-tablet {
    color: $color-primary-light;
    font-size: spacing(1.75);
    padding: spacing(2) 0 spacing(8) 0;
  }
}

.img {
  object-fit: cover;

  &.mobile {
    display: none;

    @media (max-width: 1024px) {
      display: block;
    }
  }

  &.desktop {
    display: none;

    @include up-laptop {
      display: block;
    }
  }

  @include up-laptop {
    height: auto !important;
    margin: auto;
    position: relative !important;
    width: 100% !important;
  }
}

.scrollToTop {
  bottom: 250px;
  display: none;
  justify-content: center;
  left: 50%;
  position: absolute;

  &.manyTags {
    bottom: 200px;
  }
}

.tags {
  height: 550px;
  padding-top: spacing(8);
  width: 100%;

  &.manyTags {
    height: 850px;
  }
}

.title {
  color: $color-primary-light;
  font-weight: 600;
  line-height: 32px;
  margin: 0;

  @include up-tablet {
    font-size: spacing(5);
  }

  @include down-tablet {
    font-size: spacing(3.5);
    padding-bottom: spacing(4);
  }
}

.titleWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: spacing(6);
}

.wrapper {
  @include up-tablet {
    max-width: 1200px;
    padding: spacing(15);
    width: 100%;
  }

  @media (min-width: 1208px) {
    padding: spacing(15) 0;
  }

  @include down-tablet {
    padding: spacing(3);
  }
}

.topSpacing {
  @include down-tablet {
    padding: spacing(12) spacing(3) 0 spacing(3);
  }
}

.featureImageWrapper {
  padding-bottom: spacing(2);
  position: relative;

  img {
    height: auto !important;
    position: relative !important;
  }

  @include down-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contentInner {
  height: 100%;
}

.desktopImgWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0;

  &.noCaption {
    padding-bottom: spacing(4);
  }
}

.content {
  color: #fff;
  margin: auto;
  overflow: auto;
  width: 100%;
  word-break: break-word;

  @media only screen and (max-width: 1024px) {
    width: 100%;
  }

  a {
    color: #ededed;
    text-decoration: underline;
    transition: 0.3s;

    &:hover {
      color: #fff;
    }
  }

  img {
    height: 100%;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }

  li {
    padding: 22.5px 0 0;

    img {
      padding-top: 16px;
    }
  }
}

.contentBox {
  /* Content grid
     ---------------------------------------------------------- */

  :global(.gh-canvas) {
    display: grid;
    grid-template-columns:
      [full-start]
      minmax(calc(calc(100% - 1200px) / 2), 1fr)
      [wide-start]
      auto
      [main-start]
      720px
      [main-end]
      auto
      [wide-end]
      minmax(calc(calc(100% - 1200px) / 2), 1fr)
      [full-end];
  }

  @media (max-width: 1296px) {
    :global(.gh-canvas) {
      grid-template-columns:
        [full-start]
        4vmin
        [wide-start]
        auto
        [main-start]
        720px
        [main-end]
        auto
        [wide-end]
        4vmin
        [full-end];
    }
  }

  @media (max-width: 778px) {
    :global(.gh-canvas) {
      grid-template-columns:
        [full-start]
        4vmin
        [wide-start]
        0
        [main-start]
        auto
        [main-end]
        0
        [wide-end]
        4vmin
        [full-end];
    }
  }

  :global(.gh-canvas) > * {
    grid-column: main-start / main-end;
  }

  :global(.kg-width-wide) {
    grid-column: wide-start / wide-end;
  }

  :global(.kg-width-full) {
    grid-column: full-start / full-end;
  }

  :global(.kg-width-full) img {
    width: 100%;
  }

  /* Content & Typography
     ---------------------------------------------------------- */

  > * + * {
    margin-top: 2rem;
  }

  [id]:not(:first-of-type) {
    margin: 1.5em 0 0;
  }

  > [id] + * {
    margin-top: 2vmin;
  }

  [id] + :global(.kg-card),
  blockquote + :global(.kg-card) {
    margin-top: 6vmin;
  }

  :global(.gh-canvas) > blockquote,
  :global(.gh-canvas) > ol,
  :global(.gh-canvas) > ul,
  :global(.gh-canvas) > dl,
  :global(.gh-canvas) > p {
    font-family: var(--font-serif);
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6em;
  }

  > ul,
  > ol,
  > dl {
    padding-left: 1.9em;
  }

  hr {
    border: 1px solid;
    border-color: rgba(247, 247, 247, 1);
    margin-top: 6vmin;
  }

  hr + * {
    margin-top: 6vmin !important;
  }

  blockquote {
    font-style: italic;
    position: relative;
  }

  blockquote::before {
    background: var(--color-primary);
    bottom: 0;
    content: "";
    left: -1.5em;
    position: absolute;
    top: 0;
    width: 0.3rem;
  }

  @media (max-width: 650px) {
    :global(.gh-canvas) blockquote,
    :global(.gh-canvas) ol,
    :global(.gh-canvas) ul,
    :global(.gh-canvas) dl,
    :global(.gh-canvas) p {
      font-size: 1.8rem;
    }

    blockquote::before {
      left: -4vmin;
    }
  }

  /* Cards
     ---------------------------------------------------------- */

  :global(:not(.kg-card, [id])) + .kg-card {
    margin-top: 6vmin;
  }

  :global(.kg-card) + :global(:not(.kg-card)) {
    margin-top: 6vmin;
  }

  :global(.kg-card) figcaption {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4em;
    padding: 1rem 0;
    text-align: center;
  }

  :global(.kg-card) figcaption strong {
    color: rgba(0, 0, 0, 0.8);
  }

  code {
    background: #f0f6f9;
    border: #e1eaef 1px solid;
    border-radius: 0.25em;
    color: #dc0050;
    font-size: 0.9em;
    font-weight: 400 !important;
    line-height: 1em;
    padding: 0.15em 0.4em;
    vertical-align: middle;
  }

  pre {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow:
      0 2px 6px -2px rgba(0, 0, 0, 0.1),
      0 0 1px rgba(0, 0, 0, 0.4);
    overflow: auto;
    padding: 16px 20px;
  }

  :global(.kg-embed-card) {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  figure {
    height: max-content;
  }

  figure > iframe {
    height: 450px;
    width: 100%;
  }

  @media (max-width: 1296px) {
    figure {
      height: max-content;
    }

    figure > iframe {
      height: 450px;
      width: 100%;
    }
  }

  img,
  :global(.kg-image-card) img {
    cursor: pointer;
    height: 100%;
    margin: auto;
    max-height: 500px;
    object-fit: contain;
    overflow: hidden;
    width: 100%;
  }

  :global(.kg-card-hascaption) {
    display: flex;
    flex-direction: column;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  /* Galleries
     ---------------------------------------------------------- */

  :global(.kg-gallery-card) + :global(.kg-gallery-card) {
    margin-top: 0.75em;
  }

  :global(.kg-gallery-container) {
    position: relative;
  }

  :global(.kg-gallery-row) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  :global(.kg-gallery-image) img {
    display: block;
    height: 100%;
    margin: 0;
    width: 100%;
  }

  :global(.kg-gallery-row:not(:first-of-type)) {
    margin: 0.75em 0 0;
  }

  :global(.kg-gallery-image:not(:first-of-type)) {
    margin: 0 0 0 0.75em;
  }

  /* Bookmark Cards
     ---------------------------------------------------------- */

  :global(.kg-bookmark-card),
  :global(.kg-bookmark-publisher) {
    position: relative;
  }

  :global(.kg-bookmark-container),
  :global(.kg-bookmark-container:hover) {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    box-shadow:
      0 2px 6px -2px rgba(0, 0, 0, 0.1),
      0 0 1px rgba(0, 0, 0, 0.4);
    color: currentcolor;
    display: flex;
    flex-flow: row-reverse wrap;
    font-family: var(--font-sans-serif);
    overflow: hidden;
    text-decoration: none;
  }

  :global(.kg-bookmark-content) {
    flex-basis: 0;
    flex-grow: 999;
    order: 1;
    padding: 20px;
  }

  :global(.kg-bookmark-title) {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3em;
  }

  :global(.kg-bookmark-metadata) {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.3em;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.kg-bookmark-description) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.4rem;
    -webkit-line-clamp: 2;
    line-height: 1.55em;
    margin: 0.5em 0 0;
    max-height: 45px;
    opacity: 0.8;
    overflow: hidden;
  }

  :global(.kg-bookmark-icon) {
    display: inline-block;
    height: 16px;
    width: 16px;
  }

  :global(.kg-bookmark-thumbnail) {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
    justify-content: flex-end;
  }

  :global(.kg-bookmark-thumbnail) img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }

  :global(.kg-bookmark-author) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.kg-bookmark-publisher::before) {
    content: "•";
    margin: 0 0.5em;
  }

  /* Card captions
     ---------------------------------------------------------- */

  :global(.kg-width-full.kg-card-hascaption) {
    display: grid;
    grid-template-columns: inherit;
  }

  :global(.kg-width-wide.kg-card-hascaption) img {
    grid-column: wide-start / wide-end;
  }

  :global(.kg-width-full.kg-card-hascaption) img {
    grid-column: 1 / -1;
  }

  :global(.kg-width-full.kg-card-hascaption) figcaption {
    grid-column: main-start / main-end;
  }

  /* Tables
     ---------------------------------------------------------- */

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    font-size: 0.75em;
    padding: 0.5em 0.8em;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    padding: 0.4em 0.7em;
  }

  tbody tr:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px;
  }

  tbody tr:nth-of-type(2n + 2) td:last-child {
    box-shadow:
      inset 1px 0 rgba(0, 0, 0, 0.1),
      inset -1px 0 rgba(0, 0, 0, 0.1);
  }

  tbody tr:nth-of-type(2n + 2) td {
    box-shadow: inset 1px 0 rgba(0, 0, 0, 0.1);
  }

  tbody tr:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.laptopWrap {
  @media only screen and (max-width: 1024px) {
    display: none;
  }

  @media only screen and (min-width: 1024px) {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    line-height: 2;
  }
}

.mobileWrap {
  @media only screen and (min-width: 1024px) {
    display: none;
  }
}
