@import "src/styles/sass.scss";

.tr0 {
  color: $color-indigo-1;
  display: block;
  text-align: center;
}

.tr1 {
  background: linear-gradient(286.17deg, #d431ee 0%, #ff426b 100%);
  // stylelint-disable-next-line
  background-clip: text;
  // stylelint-disable-next-line
  -webkit-background-clip: text;
  // stylelint-disable-next-line
  -webkit-text-fill-color: transparent;
  // stylelint-disable-next-line
  text-fill-color: transparent;
}

.stakingDesc {
  align-items: center;
  color: $color-forbole-blue;
  display: flex;
  font-size: spacing(2);
  font-weight: 400;
  justify-content: center;
  padding: spacing(3) 0 spacing(3) 0;
  text-align: center;
  text-shadow:
    0 1px 8px rgba(16, 24, 40, 0.06),
    0 1px 10px rgba(16, 24, 40, 0.05);

  @include up-laptop {
    font-size: spacing(3);
    font-weight: 400;
  }
}

.grid {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
}
