@import "src/styles/sass.scss";

.grid {
  display: grid;
  grid-gap: spacing(2);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include up-laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: spacing(3);
  }
}
