@import "src/styles/sass.scss";

.wrapper {
  @include up-laptop {
    display: flex;
    max-width: 1200px;
    padding: spacing(15) 0;
  }
}

.flex {
  @include up-laptop {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.side {
  @include up-laptop {
    margin-left: spacing(4.25);
    min-width: 300px;
    width: 30%;
  }
}
