@import "src/styles/sass.scss";

.grid {
  display: grid;
  grid-gap: spacing(2);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;

  @include up-laptop {
    grid-gap: spacing(3);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.wrapper {
  margin: 0 auto;
  width: min-content;
}
