@import "src/styles/sass.scss";

.ctaStack {
  flex-direction: row;
  gap: 16px;
  margin: 40px auto;

  @include down-laptop {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.ctaButton {
  display: block;
  margin: 40px auto;

  @include down-laptop {
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.signatureStack {
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin-top: 128px;

  @include down-laptop {
    margin-top: 40px;
  }
}

.signatureBox {
  align-self: center;
  max-width: 1100px;

  @include down-laptop {
    max-width: 65%;
  }
}

.label {
  align-items: center;
  background-color: $color-forbole-blue-5;
  border-radius: 200px;
  box-sizing: border-box;
  color: $color-forbole-blue-4;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  gap: 10px;
  height: 45px;
  justify-content: center;
  letter-spacing: 0.08px;
  line-height: normal;
  padding: 0 16px;
  position: absolute;
  right: 24px;
  top: 30px;
}

.card {
  position: relative;

  @include down-tablet {
    width: 100%;
  }
}
