@import "src/styles/sass.scss";

.stakingWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.stakingLang {
  @include down-laptop {
    display: none;
  }
}

.container {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  padding: spacing(2) 0 0 0;

  @include up-laptop {
    height: unset;
    justify-content: space-between;
    overflow: unset;
    padding: spacing(5.5) 0 0 0;
  }
}

.navWrapper {
  box-sizing: border-box;
  height: auto;
  max-width: $breakpoint-desktop;
  padding: 0 spacing(2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  @include up-laptop {
    left: 50vw;
    margin: auto;
    padding: 0;
    top: 30px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
}

.logoWrapper {
  @include up-laptop {
    margin: 0;
    width: 40%;
  }
}

.logoLink {
  align-items: center;
  display: flex;
  height: 100%;
}

.desktopNavMenu {
  @include up-laptop {
    display: flex;
    width: 37%;
  }

  @include down-laptop {
    display: none;
  }
}

.mobileNavMenu {
  @include up-laptop {
    display: none;
  }
}

.nav {
  box-sizing: content-box;
  display: flex;
  height: 100px;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  width: 100%;
  z-index: 5;

  @include up-laptop {
    height: 100px;
  }

  &:hover {
    background: rgba(47, 58, 86, 0.6);
  }
}
